.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }

.header {
    grid-area: header;
    border-bottom: black;
    border-bottom-style: double;
}

.sidebar {
    grid-area: sidebar;
    padding-right: 40px;
    border-right: black;
    border-right-style: double;
}

main {
    grid-area: main;
    padding-left: 20px;
}

.title {
    text-decoration: underline;
}

.article-list-element {
    margin-block: 0em;
}

.footer {
    grid-area: footer;
    position: relative;
    border-top: black;
    border-top-style: double;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}